* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: hsl(210, 60%, 98%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.container {
    background-color:hsl(0, 0%, 100%);
    border-radius: 9px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2em;
    margin: 10px auto;
    width: 600px;
}
.Notifications {
    display: flex;
    justify-content: space-between;
    padding: 10px auto;
    height: 40px;
    width: 100%;
}
.Notifications h1 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.Notifications h2 {
    color: gray;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    padding: 5px;
}
.Notifications h2:hover {
    color: hsl(219, 85%, 26%);
    cursor: pointer;
}
.counter {
	display: inline-block;
	font-size: 18px;
	margin-right: 300px;
}
.mark {
    background-color: hsl(210, 60%, 98%);
    border: none;
    border: 1px gray;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    margin: 1px auto;
    padding: 10px;
    height: 65px;
    width: 100%;
}
.mark2 {
    background-color: hsl(210, 60%, 98%);
    border: 1px gray;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    margin: 5px auto;
    padding: 10px;
    height: 65px;
    width: 100%;
}
.mark3 {
    background-color: hsl(210, 60%, 98%);
    border: 1px gray;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    margin: 1px auto;
    padding: 10px;
    height: 65px;
    width: 100%;
}
.mark4 {
    display: flex;
    margin: 5px auto;
    padding: 10px;
    height: 50px;
    width: 100%;
}
.mark5 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 60px;
    width: 100%;
    margin-top: 75px;
}
.mark6 {
    display: flex;
    margin: 5px auto;
    padding: 10px;
    height: 65px;
    width: 100%;
}
.mark7 {
    display: flex;
    margin: 5px auto;
    padding: 10px;
    height: 45px;
    width: 100%;
}
.markstyles {
    padding: 1px auto;
    height: 40px;
    width: 40px;
}
.markstyles2 {
    padding: 1px auto;
    height: 40px;
    width: 40px;
}
.markstyles2:hover {
    border: 2px solid hsl(211, 68%, 94%);
    border-radius: 7px;
    cursor: pointer;
}
.rizky {
    border: 2px solid hsl(211, 68%, 94%);
    border-radius: 5px;
    display: flex;
    margin: 25px auto;
    height: 65px;
    width: 168%;
}
.rizky p {
    padding: 10px;
}
.rizky {
    outline: none;
}
.rizky:hover {
    background-color: hsl(211, 68%, 94%);
    cursor: pointer;
}
.mark h3 {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}
.mark2 h3 {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}
.mark3 h3 {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}
.mark4 h3 {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}
.mark5 h3 {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.mark6 h3 {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}
.mark7 h3 {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}
.mark .text {
    margin: 5px;
    margin-left: 15px;
}
.mark2 .text {
    margin: 5px;
    margin-left: 15px;
}
.mark3 .text {
    margin: 5px;
    margin-left: 15px;
}
.mark4 .text {
    margin: 5px;
    margin-left: 15px;
}
.mark5 .text {
    margin: 5px;
    margin-left: 15px;
    width: 100%;
}
.mark6 .text {
    margin: 5px;
    margin-left: 15px;
}
.mark7 .text {
    margin: 5px;
    margin-left: 15px;
}
.circle {
    height: 7px;
    width: 7px;
    background-color: hsl(1, 90%, 64%);
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}
.grays {
    color: gray;
    margin-left: 5px;
}
.grays2 {
    color: hsl(221, 16%, 24%);
    margin-left: 5px;
}
.grays3 {
    color: hsl(221, 16%, 24%);
    margin-left: 5px;
}
.grays2:hover {
    cursor: pointer;
    color:  hsl(219, 85%, 26%);
}
.grays4 {
    color: hsl(221, 16%, 24%);
    margin-left: 5px;
}
.blues {
    color:  hsl(219, 85%, 26%);
    margin-left: 5px;
}
.blues:hover {
    cursor: pointer;
    color: hsl(219, 85%, 26%);
}
.blue:hover {
    cursor: pointer;
    color: hsl(219, 85%, 26%);
}
.text p {
    color: hsl(221, 16%, 24%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.chess {
    display: flex;
    justify-content: flex-end;
    margin: -5px;
    width: 200px;
    padding-bottom: 20px;
}